/*** 

====================================================================
    Section Title
====================================================================

***/

.sec-title {
    position: relative;
    margin-bottom: 50px;
    @include media-breakpoint-down(md){
        br {display: none;}
    }
    .sub-title {
        position: relative;
        display: inline-block;
        font-size: var(--sec-title-subtitle-font-size);
        line-height: var(--sec-title-subtitle-line-height);
        font-weight: var(--sec-title-subtitle-font-weight);
        font-family: var(--sec-title-subtitle-font-family);
        color: var(--sec-title-subtitle-color);
        letter-spacing: .2em;
        text-transform: uppercase;
        margin-bottom: 0px;
        padding-top: 12px;
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 56px;
            height: 13px;
            margin: 0 auto;
            background-image: url(../images/icons/sub-before.png);
            content: '';
        }
    }
    h1{
        position: relative;
        font-size: var(--h1-font-size);
        line-height: 1.2em;
        margin-bottom: 0;
        @include media-breakpoint-down(xl) {
            font-size: 84px;
        }
        @include media-breakpoint-down(lg){
            font-size: 72px;
        }
        @include media-breakpoint-down(md) {
            font-size: 68px;
        }
        @include media-breakpoint-down(sm) {
            font-size: 54px;
        }
    }
    
    h2 {
        position: relative;
        font-size: var(--sec-title-font-size);
        color: var(--sec-title-color);
        font-family: var(--sec-title-font-family);
        font-weight: var(--sec-title-font-weight);
        margin-bottom: 0;
        letter-spacing: .01em;
        line-height: 1.2em;
        z-index: 2;
        @include media-breakpoint-down(sm){
            font-size: 38px;
            br{display: none;}
        }
    }
    .text {
        margin-top: 20px;
    }

    &.light{
        .sub-title {
            color: var(--theme-color-light);
        }
        .text{
            color: var(--theme-color-light);
        }
        h2,
        h1{
            color: var(--theme-color-light);
        }
    }
}
